fastapi
uvicorn
python-multipart
pandas
numpy
ta
pytorch-lightning
matplotlib
scikit-learn
optuna
optuna-integration
lxml
gymnasium
gudhi
pydantic-settings
pytest
httpx
websockets
alpaca-py
python-dotenv
